* {
    padding: 0;
    margin: 0;
}

html {
    font-family: 'roboto', Helvetica, sans-serif;
    font-size: 62.5%;
}

a {
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

header {   
    position: sticky;   
    top: 0; 
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: blue;
    height: 8vh;
    width: 100%;
}

.logo {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #FFF;
    cursor: pointer;
}

.nav-list {
    list-style: none;
    display: flex;
    color: #FFF;
}

.nav-list li {
    letter-spacing: 1px;
    margin-left: 40px;
    font-size: 2rem;
    cursor: pointer;
}

.nav-list li a {
    text-decoration: none;
    color: #FFF;
}

.mobile-menu {
    cursor: pointer;
    display: none;
}

.mobile-menu div {
    width: 32px;
    height: 3px;
    background-color: #FFF;
    margin: 8px;
    transition: 0.3s;

}

section h1 {
    font-size: 70px;
}

body {
    position: relative;
}




@media (max-width: 999px){

    body {
        overflow-x: hidden;
        color: black;
    }

    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 100vw;
        height: 92vh;
        background-color: blue;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: 0.2s;
        
    }
    
    .nav-list li {
        margin-left: 0px;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
        
    }

    .nav-list.active {
        transform: translateX(0);
    }
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line-1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}
.mobile-menu.active .line-2 {
    opacity: 0;

}
.mobile-menu.active .line-3 {
    transform: rotate(45deg) translate(-6px, -8px);
}